body {
    background-image: url(./assets/bg-form.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Comfortaa", sans-serif;
    margin: 0;
    display: flex;
    padding: 10px 0;
    height: 100vh;
}

.form__section {
    width: 90%;
    max-width: 700px;
    padding: 15px 10px;
    margin: auto;
    border-radius: 5px;
    background-color: #eef2f3;
    box-shadow: 3px 3px 14px 0px #424040;
}

.form__container {
    width: 90%;
    margin: 20px auto;
}

.form__item,
.form__item__last {
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
}

.form__label,
.form__input,
.form__p {
    width: 100%;
}

.form__input {
    border: none;
    border-bottom: 1.9px solid #9e9e9e;
    background-color: #eef2f3;
}

.form__input:focus-visible {
    outline: none;
    border-width: 0px 0px 1.9px 0px;
    border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
}

.form__label,
.form__p,
.form__label__radio {
    color: #aaa8a8;
}

.form__radio {
    padding-bottom: 8px;
}

input[type="file"]::file-selector-button {
    border: none;
    border-radius: 5px;
    padding: 7px;
    color: white;
    background: linear-gradient(to right, darkblue, darkorchid);
}

.input-msg-error {
    color: red;
}

.btn__container {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    padding-top: 30px;
}

.btn__form--send,
.btn__form--reset,
.btn__toast--acept {
    border-radius: 18px;
    border: none;
}

.btn__form--send,
.btn__toast--acept {
    background: linear-gradient(to right, darkblue, darkorchid);
    color: white;
    padding: 10px 20px;
}

.div__btn--reset {
    background: linear-gradient(to right, darkblue, darkorchid);
    width: 92px;
    border-radius: 20px;
    padding: 2px;
    text-align: center;
}

.btn__form--reset {
    padding: 10px 18px;
}

.form__p__required {
    color: #bcbbbc;
    margin-top: 35px;
    font-size: 14px;
}

.toast__container {
    position: absolute;
    padding: 20px 30px;
    border-radius: 2rem;
    right: 3rem;
    display: none;
    background-color: #424040c7;
    color: #eef2f3;
    animation: fadeIn 2s;
}

.toast__title {
    font-size: 1.5rem;
    margin: 0;
}

.toast__description {
    font-size: 1rem;
}
.toast__container.fade-in {
    display: block;
}

.error__section {
    width: 95%;
    margin: auto;
    padding: 10px 0;
    border-radius: 5px;
    color: #646464;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 425px) {
    .form__item {
        align-items: baseline;
    }
    .form__label,
    .form__p {
        width: 40%;
    }
    .form__input,
    .form__radio {
        width: 58%;
        vertical-align: middle;
        margin: auto;
    }
    .error__section {
        width: 88%;
    }
}

@media (min-width: 768px) {
    .form__div {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }
    .form__item {
        width: 45%;
        margin: 15px auto;
    }

    .form__label,
    .form__p,
    .form__input,
    .form__radio {
        width: 100%;
    }

    .form__item__last {
        width: 95%;
        margin: 15px auto;
    }

    .error__section {
        width: 90%;
    }
}
